---
import SettingsLayout from "@layouts/SettingsLayout.astro";
---
<SettingsLayout active="credits" title="Credits">
    <div class="w-full flex-grow">
        <div>
            <p> Thanks to all the wonderful people who have contributed! </p>
            <ul class="list-disc pl-5 mt-2 font-bold">
                <li> 
                    <a class="underline hover:text-(--accent) transition-colors duration-300" href="https://github.com/hyperficial" target="_blank" ref="noopener noreferrer">
                        Owski 
                    </a>
                </li>
                <li> 
                    <a href="https://github.com/proudparrot2" target="_blank" ref="noopener noreferrer" class="underline hover:text-(--accent) transition-colors duration-300"> 
                        ProudParrot
                    <a>
                </li>
                <li> 
                    <a class="underline hover:text-(--accent) transition-colors duration-300" href="https://github.com/motortruck1221" target="_blank" ref="noopener noreferrer"> 
                        MotorTruck1221 
                    </a> 
                </li> 
                <li>
                    <a href="https://mercurywork.shop" target="_blank" ref="noopener noreferrer" class="underline hover:text-(--accent) transition-colors duration-300">
                        The wonderful people over at MercuryWorkshop
                    </a>
                </li>
                <li>
                    <a href="https://github.com/titaniumnetwork-dev" target="_blank" ref="noopener noreferrer" class="underline hover:text-(--accent) transition-colors duration-300">
                        Everyone over at TitaniumNetwork
                    </a>
                </li>
                <li> 
                    <a href="https://github.com/RadiusProxy/Radius/graphs/contributors" target="_blank" ref="noopener noreferrer" class="underline hover:text-(--accent) transition-colors duration-300">
                        And Everyone else who has contributed!
                    </a>
                </li>
            </ul>
        </div>
        <div class="border-t-2 border-(--border) mt-2">
            <p class="mt-2"> Projects that we use: </p>
            <ul class="list-disc pl-5 mt-2 font-bold">
                <li> 
                    <a href="https://github.com/titaniumnetwork-dev/ultraviolet" target="_blank" ref="noopener noreferrer" class="underline transition-colors duration-300 hover:text-(--accent)">
                        Ultraviolet 
                    </a>
                </li>
                <li> 
                    <a href="https://github.com/mercuryworkshop/scramjet" target="_blank" ref="noopener noreferrer" class="underline transition-colors duration-300 hover:text-(--accent)">
                        Scramjet 
                    </a>
                </li>
                <li> 
                    <a href="https://github.com/ading2210/libcurl.js" target="_blank" ref="noopener noreferrer" class="underline transition-colors duration-300 hover:text-(--accent)">
                        Libcurl.js 
                    </a>
                </li>
                <li> 
                    <a href="https://github.com/mercuryworkshop/epoxy-tls" target="_blank" ref="noopener noreferrer" class="underline transition-colors duration-300 hover:text-(--accent)">
                        Epoxy TLS
                    </a>
                </li>
            </ul>
        </div>
    </div>
</SettingsLayout>
