---
import SettingsLayout from "@layouts/SettingsLayout.astro";
---
<SettingsLayout active="links" title="Socials">
    <div>
        <p> Follow us on other Platforms! </p>
        <ul class="list-disc pl-5 mt-2 font-bold">
            <li> TikTok: @radiusproxy </li>
            <li> YouTube: @RadiusProxy </li>
            <li> Discord: 
                <a href="https://discord.gg/cCfytCX6Sv" target="_blank" rel="noopener noreferrer" class="underline hover:text-(--accent) duration-300 transition-colors"> 
                    Join Now! 
                </a> 
            </li>
        <ul>
    </div>
</SettingsLayout>
