---
import SettingsLayout from "@layouts/SettingsLayout.astro";
import Input from "@components/ui/Input.astro";
import Button from "@components/ui/Button.astro";
---
<SettingsLayout active="cloaking" title="Cloaking">
    <div class="w-full flex-grow">
        <div class="w-full flex flex-row gap-4">
            <div class="w-1/2">
                <div>
                    <p> About Blank </p>
                    <Input id="aboutBlankCloaker" placeholder="Redirect url (EX: https://google.com)" />
                </div>
                <div class="mt-2">
                    <Button id="aboutBlankLaunch" text="Cloak!" icon="lucide:square-arrow-out-up-right" />
                </div>
            </div>
            <div class="w-1/2">
                <div>
                    <p> Blob </p>
                    <Input id="blobCloaker" placeholder="Redirect url (EX: https://google.com)" />
                </div>
                <div class="mt-2">
                    <Button id="blobLaunch" text="Cloak!" icon="lucide:square-arrow-out-up-right" />
                </div>
            </div>
        </div>
    </div>
</SettingsLayout>
<script>
</script>
