---
import Layout from '@layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout>
    <div class="h-full flex items-center justify-center">
        <div class="flex items-center gap-2">
            <Icon name="lucide:radius" class="h-16 w-16 rotate-180 text-(--foreground)" />
            <h1 class="text-6xl font-semibold">Radius</h1>
        </div>
        <div>
            <!-- text input here from shadcn (soon) -->
            <p>more coming soon (trust)</p>
        </div>
    </div>
</Layout>
