---
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div class="h-full flex items-center justify-center">
    <h1 class="text-4xl font-semibold">bro.. radius merch s00n</h1>
  </div>
</Layout>
