---
import { readdir } from "node:fs";
import { join as pathJoin } from "node:path";
import { ClientRouter } from "astro:transitions";
import Loader from "@components/Loader.astro";
import Header from "@components/Header.astro";

import "@styles/global.css";
import "@styles/default.css";
readdir(pathJoin("src", "styles", "themes"), { encoding: "utf-8" }, (err, files) => {
    files.forEach(async (name) => {
        await import(`../styles/themes/${name.replace(".css", "")}.css`);
    });
});
---
<!doctype html>
<html lang="en">
    <head>
        <Loader transition:persist />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" id="favicon" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
        <title>Radius</title>
        <ClientRouter fallback="animate" />
	</head>
    <body class="h-full w-full bg-(--background) font-inter">
        <Header />
        <div class="h-full w-full fixed bg-(--background) text-(--foreground)">
            <slot />
        </div>
	</body>
</html>

<script>
    import { StoreManager } from "@utils/storage";
    
    const updateCloak = () => {
        const storageManager = new StoreManager("radius||settings");
        const cloakTitle = storageManager.getVal("cloakTitle");
        const cloakFavicon = storageManager.getVal("cloakFavicon");
        
        if (cloakTitle && cloakFavicon) {
            document.title = cloakTitle;
            const faviconElement = document.getElementById("favicon") as HTMLLinkElement;
            faviconElement.href = cloakFavicon;
        }
    };

    document.addEventListener('DOMContentLoaded', updateCloak);
    document.addEventListener('astro:page-load', updateCloak);
</script>

<style>
</style>
