---
import type { DropdownOptions } from "@utils/types";
interface Props {
    id: string;
    options: DropdownOptions[];
}

const { id, options } = Astro.props;
---
<select id=`dropdownBox-${id}` class="flex h-10 w-[180px] items-center justify-between text-(--foreground) background-(--background) rounded-lg border border-(--border) px-3 py-2">
    {options.map((el) => 
        <option class="w-full bg-(--accent) rounded-sm p-1" value={el.value}>{el.name}</option>
    )}
</select>
<script>
</script>
